org: sllanos099
service: api-web-scraping

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  region: us-east-1
  iam:
    role: arn:aws:iam::387765507107:role/LabRole

functions:
  scrape_table:
    handler: scrap_table.lambda_handler
    layers:
      - arn:aws:lambda:us-east-1:764866452798:layer:chrome-aws-lambda:31
    package:
      include:
        - ./**  
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          integration: lambda

custom:
  pythonRequirements:
    dockerizePip: true

plugins:
  - serverless-python-requirements

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
