org: sllanos099
service: api-web-scraping-igp

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  region: us-east-1
  iam:
    role: arn:aws:iam::387765507107:role/LabRole

functions:
  igpScraper:
    handler: handler.main
    events:
      - http:
          path: /scrape
          method: get

resources:
  Resources:
    SismosIGP:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: SismosIGP
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST


